
#form{ padding:20px 0; }
    #form input{ margin-top:10px; }


#showIn input[type="text"], .update, .updateCancel {
    display: none;
}
#showIn td{padding-right:30px;}
#showIn tr td{line-height: 51px;}

.destroy,.restore{display:none;}

.show{ display:inline!important;}